
<section class="profile_container">
  <form (ngSubmit)="onSubmit()" #profileForm="ngForm">
    <div class="profile_content">
      <div class="profile_img">
        <img [src]="previewImage || '../../assets/images/user.png'" alt="usuario" />
        <div>
          <h4>{{ user.first_name }} {{ user.last_name }}</h4>
          <p class="text-muted font-size-sm">{{ user.address }}</p>
        </div>
        <div class="upload-btn">
          <label for="imageUpload" class="btn-upload">Cambiar foto</label>
          <input type="file" id="imageUpload" accept="image/*" (change)="onImageSelected($event)" hidden />
        </div>
      </div>

      <div class="profile_data">
        <h4>Detalles de usuario:</h4>
        <hr />
        <div class="profile_info">
          <label>Nombre:</label>
          <input type="text" [(ngModel)]="user.first_name" name="first_name" required />
        </div>
        <hr />
        <div class="profile_info">
          <label>Apellido:</label>
          <input type="text" [(ngModel)]="user.last_name" name="last_name" required />
        </div>
        <hr />
        <div class="profile_info">
          <label>Email:</label>
          <input type="email" [(ngModel)]="user.email" name="email" required />
        </div>
        <hr />
        <div class="profile_info">
          <label>Dirección:</label>
          <input type="text" [(ngModel)]="user.address" name="address" />
        </div>
        <hr />
        <div class="profile_info">
          <label>Teléfono:</label>
          <input type="text" [(ngModel)]="user.phone" name="phone" />
        </div>
  <!--        <hr />
       <div class="profile_info">
          <label>Contraseña:</label>
          <input type="password" [(ngModel)]="user.password" name="password" required />
        </div>
-->
        <hr />
        <div class="btn-box">
          <button class="btn-edit" type="submit">Guardar cambios</button>
          <button type="button" class="btn-close" (click)="closeWithoutSaving()"></button>

        </div>
      </div>
    </div>
  </form>
</section>